# Why use panda?
# 
# the quality of your data is just as important.
# More often than not, large datasets will often have missing values, outliers, incorrect values, etcâ€¦
# Having data with a lot of missing or bad values, for example, is not going to allow your machine learning algorithms to perform well.
# Pandas Series and DataFrames are designed for fast data analysis and manipulation
# 
# Allows the use of labels for rows and columns
# Can calculate rolling statistics on time series data
# Easy handling of NaN values
# Is able to load data of different formats into DataFrames
# Can join and merge different datasets together
# It integrates with NumPy and Matplotlib

In [ ]:
import pandas as pd

In [ ]:
 # Pandas Series by using the command pd.Series(data, index), where index is a list of index labels. Let's use a Pandas Series to store a grocery list.
 
 groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

In [ ]:
# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

he attribute .loc stands for location and it is used to explicitly state that we are using a labeled index. Similarly, the attribute .iloc stands for integer location and it is used to explicitly state that we are using a numerical index

In [ ]:
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 

# How many eggs and apples do we need to buy:
# eggs       30
# apples     6
# dtype: object

print('Do we need bread:\n', groceries[[-1]]) 
# Do we need bread:
# bread     No
# dtype: object

print('How many eggs do we need to buy:', groceries[0]) 
# How many eggs do we need to buy: 30

print('Do we need milk and bread:\n', groceries.iloc[[2, 3]]) 
# Do we need milk and bread:
# milk       Yes
# bread     No
# dtype: object

In [ ]:
# Panda series are mutable like NumPy ndarrays

# We change the number of eggs to 2
groceries['eggs'] = 2

# We can also delete items from a Pandas Series by using the .drop() method. The Series.drop(label) 
print('We remove apples (out of place):\n', groceries.drop('apples'))

# We remove apples from our grocery list in place by setting the inplace keyword to True
groceries.drop('apples', inplace = True)
# Arithmetic Operations on Pandas Series
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits

print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits

print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 

print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2

print('EXP(X) = \n', np.exp(fruits))

print('SQRT(X) =\n', np.sqrt(fruits))

print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2

# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)


# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)


# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)


# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

In [ ]:
import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(data = distance_from_sun, index = planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]

import pandas as pd

# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(data = distance_from_sun, index = planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light[time_light < 40]

In [10]:
import pandas as pd

# Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types. 
# If you are familiar with Excel, you can think of Pandas DataFrames as being similar to a spreadsheet. 

items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# print(type(items))
# class 'dict'

# We create a Pandas DataFrame by passing it a dictionary of Pandas Series
shopping_carts = pd.DataFrame(items)

shopping_carts

# tabular form,
# row labels == union of the index labels, 
# column labels == keys of the dictionary
# columns are arranged alphabetically

# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data)

# df
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [11]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

# Again, notice that since the items2 dictionary we created doesn't have label indices, Pandas automatically uses numerical row indexes when it creates the DataFrame

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

In [17]:
# accessing individual elements in a DataFrame
# dataframe[column][row]

store_items['glasses'][1] = 20.2

# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['shirts'] = [15,2]


store_items

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   bikes  glasses  pants  watches  shirts
0     20      NaN     30       35      15
1     15     20.2      5       10       2

In [ ]:
store_items['suits'] = store_items['pants'] + store_items['shirts']

store_items

In [20]:
#  add rows to our DataFrame
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

new_store = pd.DataFrame(new_items, index = ['store 3'])

new_store

store_items = store_items.append(new_store)

store_items

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

         bikes  glasses  pants  shirts  watches
0           20      NaN     30    15.0       35
1           15     20.2      5     2.0       10
store 3     20      4.0     30     NaN       35